<!-- <router-outlet></router-outlet>-->

<div class="toolbar">
  <div class="toolbar-inner">
    <a href="#" class="link">Link 1</a>
    <a href="#" class="link">Link 2</a>
    <a href="#" class="link">Link 3</a>
  </div>
</div>
<!-- <ons-splitter #splitter>
    <ons-splitter-side [page]="sideMenu" side="left" width="100%" collapse swipeable id="menu"> 
      </ons-splitter-side>

       <ons-splitter-content [page]="burgerMenu" width="100%"> 
      </ons-splitter-content>  <p style="text-anchor: end"></p> 
    <ons-splitter-content [page]="tabBar">
      </ons-splitter-content>                  
  </ons-splitter> -->