.navbar-nav {
    display: contents;
}

.nav-item-center {
    padding-left: 1%;
    padding-right: 1%;
}

.nav-item-left {
    border-right: white;
}

.nav-item-right {
    border-left: white;
}

.nav-item-middle {
    border-right: white;
    border-left: white;
}

.bg-blue { 
    background-color: var(--ALTENMarinBlue);
}

nav ul li a{
    color : white;
}