<div>
  <h4>Compétences</h4>
  <div>
    <table class="tableCompetence">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Note</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Python</td>
            <td>4</td>
          </tr>
          <tr>
            <td>C++</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
</div>
<div>
    <h4>SoftSkill</h4>
  <table class="tableSoftSkill">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cycle en V </td>
        <td>4</td>
      </tr>
      <tr>
        <td>Gestion de projet </td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
  

