<ons-tabbar id="appTabbar">
  <div class="tabbar__content"></div>
  <div class="tabbar">
    <ons-tab label="Mobilité" icon="ion-home" [page]="forumTab1" active></ons-tab>
    <ons-tab label="Contrat" icon="ion-ios-browsers" [page]="forumTab2"></ons-tab>
    <ons-tab label="Formations" icon="ion-ios-search" [page]="forumTab3"></ons-tab>
    <ons-tab label="Compétences" icon="ion-ios-browsers" [page]="forumTab4"></ons-tab>
    <ons-tab label="Complément" icon="ion-ios-search" [page]="forumTab5"></ons-tab>
  </div>
</ons-tabbar>