div.header {
    background-color: var(--ALTENBlue);
    height: 60%;
    margin: 0%;

}
div.surheader{
background-color: var(--ALTENLightGray);
    height: 40%;
    margin: 0%;
}

.img {
position: absolute;
left:0;
overflow: hidden;
margin: 2% 0 0 2%;
background-color: white;
width: 8%;
}

