div.header {
    background-color: var(--ALTENBlue);
    height: 60%;
    margin: 0%;
}

div.surheader{
background-color: var(--ALTENLightGray);
    height: 40%;
    margin: 0%;
}

.Share{
    position: absolute;
    right: 5%;
    top: 0;
    margin-top: 11%;
    width: 4%;
}


.logo_alten {
position: absolute;
left:0;
overflow: hidden;
margin: 2% 0 0 2%;
background-color: white;
width: 8%;
}

.module{
    color: var(--ALTENLightGray);
    font: bold;
}

.version {
    color: var(--ALTENLightGray);
    background-color: var(--ALTENBlue);
}
