<div class="header">
    <h2 class="module">Module compétence</h2>
    <img class="logo_alten" (click)="leftMenu()" src='../../assets/images/header-logo-alten.svg'/>
</div>
<div class="surheader">
    <select (change)="onChange($event.target.value)" class="version">
            <option id="{{i+1}}" *ngFor='let versionsFiche of versionsFiche; let i = index;' > {{versionsFiche.name}} </option>
        </select>
    <input (click)="onPartage()" type="image" class="Share" src="../../assets/images/share.png"/>
</div>
      