<ons-tabbar id="appTabbar">
  <div class="tabbar__content"></div>
  <div class="tabbar">
    <!-- <ng-container *ngFor="let link of tabLinkList.mission">
        <p id="{{link.name}}">Test</p>
        <ons-tab ngLabel="{{lnik.name}}" id="{{link.name}}" ngIicon="ion-home" [page]="link.page"></ons-tab>
    </ng-container> -->
    <ons-tab label="Missions" icon="ion-home" [page]="tab1" active></ons-tab>
    <ons-tab label="Compétences" icon="ion-ios-browsers" [page]="tab2"></ons-tab>
    <ons-tab label="Forum" icon="ion-ios-search" [page]="tab3"></ons-tab>
  </div>
</ons-tabbar>