<div class=wrapper>
  <nav id="side-menu">
    <div class="side-menu-header">
      <div class="Logo">
        <ons-icon fixed-width class="list-item__icon" icon="ion-home, material:md-home"></ons-icon>
      </div>
      <div>
        <h3>Ambroise</h3>
      </div>
      <!-- TO-DO : Module actuel -->
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="#">Forum</a>
      </li>
      <li>
        <a href="#">Projets</a>
      </li>
      <li>
        <a href="#">Compétences</a>
      </li>
    </ul>

    <!-- TO-DO : Boutons en lien avec le module sélectionné -->

  </nav>
</div>
<!--<ng-container *ngFor="let link of linkList"></ng-container>-->