<div>
  <h5 class="titre">{{ ficheCompetence.NameOfFiche }} <br> {{ ficheCompetence.NomPersonne }} {{ ficheCompetence.PrenomPersonne }} - {{ ficheCompetence.StatutPersonne }}</h5>
  <div>
      <h4 class="identity">Diplome : {{ ficheCompetence.DiplomeFiche }}</h4>
      <h4 class="identity">Employeur : {{ ficheCompetence.EmployeurFiche }}</h4>
      <h4 class="identity">Métier : {{ ficheCompetence.metierFiche }}</h4>
      <h4 class="identity">Disponibilités : {{ ficheCompetence.DisponibiliteFiche }}</h4>
      <h4 class="identity">Année de Diplome : {{ ficheCompetence.AnneediplomeFiche }}</h4>
      <h4 class="identity">Salaire : {{ ficheCompetence.SalaireFiche }}</h4>
<div class="separateur">
  <h4 class="titre">Avis</h4>
  <div class="Avis">
    {{ficheCompetence.AvisFiche}}
  </div>
  <h4 class="titre">Commentaire</h4>
  <div class="Avis">
    {{ficheCompetence.CommentaireFiche}}
  </div>
</div>
  

