<div>
  <h4>Nom de la fiche - Maxime MAQUINGHEN - Consultant</h4>
  <div>
    <h6>diplôme:  Plus haut diplome</h6>
    <h6>Employeur: Alten</h6>
    <h6>Métier:  Chef de Projet</h6>
    <h6>Disponibilités:  /</h6>
    <h6>Année de diplome:  2019</h6>
    <h6>Salaire:  150K€/an</h6>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Manager</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cyprien</td>
            <td>Joyce</td>
            <td>Cyprien</td>
          </tr>
          <tr>
            <td>20/04/2019</td>
            <td>19/10/2018</td>
            <td>10/10/2018</td>
          </tr>
          <tr>
            <td>Evalutation Compétence</td>
            <td>Contrat Consultant</td>
            <td>Recrutement </td>
          </tr>
        </tbody>
      </table>
</div>
<div>
  <h6>Avis</h6>
  <div class="encart">
      +++ 
      </div>
</div>
  

