<ons-list-title>Access</ons-list-title>
    <ons-list>
      <!--<ng-container *ngFor="let link of linkList"></ng-container>-->
      <ons-list-item id="link0">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="ion-home, material:md-home"></ons-icon>
        </div>
        <div class="center">
          Forum
        </div>
      </ons-list-item>
      <ons-list-item id="link1">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="ion-edit, material:md-edit"></ons-icon>
        </div>
        <div class="center">
          Missions
        </div>
      </ons-list-item>
      <ons-list-item id="link2">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="ion-film-marker, material: md-movie-alt"></ons-icon>
        </div>
        <div class="center">
          Compétences
        </div>
      </ons-list-item>
    </ons-list>
